// note that the icon used by the Explorer (i.e. the programs icon) is the first icon in the executable and the icons are sorted both by their order
// (Win9x) and by alphabetically (!) (NT), so put this icon first and give it a name starting with "a"
//aaaaaaaa                ICON                    "tsukasa.ico"

// this icon is used with wxFrame::SetIcon()
appico                  ICON                    "tsukasa.ico"

// set this to 1 if you don't want to use manifest resource (manifest resource is needed to enable visual styles on Windows XP - see docs/msw/winxp.txt for more information)
#define wxUSE_NO_MANIFEST 0

// this is not always needed but doesn't hurt (except making the executable very slightly larger): this file contains the standard icons, cursors, ...
//#include "wx/msw/wx.rc"

// used by ./src/dlgctrl.cpp->ASSDrawAboutDlg::ASSDrawAboutDlg
assdraw3_               BITMAP                  "bitmaps/assdraw3.bmp"

// used by ./src/assdraw.cpp->ASSDrawFrame::SetToolBars
new_                    BITMAP                  "bitmaps/new_.bmp"
//src_                    BITMAP                  "bitmaps/src_.bmp"
preview_                BITMAP                  "bitmaps/preview_.bmp"
//rot_                    BITMAP                  "bitmaps/rot_.bmp"
arr_                    BITMAP                  "bitmaps/arr_.bmp"
m_                      BITMAP                  "bitmaps/m_.bmp"
//n_                      BITMAP                  "bitmaps/n_.bmp"
l_                      BITMAP                  "bitmaps/l_.bmp"
b_                      BITMAP                  "bitmaps/b_.bmp"
//s_                      BITMAP                  "bitmaps/s_.bmp"
//p_                      BITMAP                  "bitmaps/p_.bmp"
//c_                      BITMAP                  "bitmaps/c_.bmp"
del_                    BITMAP                  "bitmaps/del_.bmp"
sc_rot_                 BITMAP                  "bitmaps/sc_rot_.bmp"
nut_                    BITMAP                  "bitmaps/nut_.bmp"
pan_shp                 BITMAP                  "bitmaps/pan_shp.bmp"
pan_bg                  BITMAP                  "bitmaps/pan_bg.bmp"
//pan_both                BITMAP                  "bitmaps/pan_both.bmp"

// used by ./src/dlgctrl.cpp->ASSDrawTransformDlg::ASSDrawTransformDlg
transform               BITMAP                  "bitmaps/transform.bmp"

// used by ./src/library.cpp->ASSDrawShapeLibrary::ASSDrawShapeLibrary
add                     BITMAP                  "bitmaps/add_.bmp"
check                   BITMAP                  "bitmaps/check_.bmp"
uncheck                 BITMAP                  "bitmaps/uncheck_.bmp"
delcross                BITMAP                  "bitmaps/del_cross.bmp"
